ENVIRONMENT=dev

BACKEND_HOST_PORT=5002
FRONTEND_HOST_PORT=5001
MONGO_HOST_PORT=27017

PORT=5000
LOG_LEVEL=debug
API_BASE=http://localhost:5000/api/v1
SECRET=dev_local_secret
MD_SECRET=dev_local_mdsecret
WEB_BASE_URL=http://localhost:3000
MONGO_DATABASE_NAME=glyph_dev
MONGO_URI=mongodb://database:27017/glyph_dev
SEED_DATA=true
DROP_SCRIPTS=false
ADMIN_EMAIL=##########
ADMIN_PASSWORD=#######
ADMIN_USERNAME=#######
MIN_RULE_COUNT=20
BONUS_POINTS_PERCENTAGE=10
MIN_PERCENTAGE_VARIANCE=0.3